@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.cont-1-bck{
    background-color: #ffffff;
}
.cont-1-head{
    font-family: cursive;
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
}
.cont-1-para{
    font-size: 13px;
    padding: 8px;
    margin-left: 10px; 
}
.img-cont{
    padding: 5px;
    margin: 15px;
}
.embed-responsive {
    height: 100px;
    width: 100px;
    margin: 8px;
    border-radius: 10px;

}