.mob-img{
    height: 100vh;
    background-size: cover;
}
.bck-cont{
    background-color: #ffffff;
    border-color: #0a1f44;
    border: 2px;
    border-style: solid;
    height: 100vh;
}
.para-head{
    font-size: 25px;
    font-weight: bold;
    padding: 8px;
    margin-left: 15px;
   
}
.para{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin-left: 55px;
    color: #707070;
    font-weight: bold;
}