@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-munch-logo {
    height: 70px;
    width: 85px;
    margin: 8px; 
}
#navItem1 {
    color: white;
    font-family: "Roboto";
  } 
#navItem2 {
    color: white;
    font-family: "Roboto";
  }
#navItem3 {
    color: white;
    font-family: "Roboto";
  }
#navItem4 {
    color: white;
    font-family: "Roboto";
  }
.banner-bg-container{
    background-image: url("https://img.freepik.com/free-photo/top-view-circular-food-frame_23-2148723455.jpg?w=740&t=st=1661396776~exp=1661397376~hmac=672aa62c5fbd2ac9231418684ed1b7fb00a05c795200146ef788d9ae971a2938");
    height: 100vh;
    background-size: cover;
    margin-left: 15px;
    margin-right: 15px;
}
.banner-heading{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #FF5733;
}  
.banner-para{
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;
    padding: 5px;
}
.custom-button{
    color: white;
    background-color: #d0b200;
    height: 45px;
    width: 130px;
    border: 0;
    border-radius: 8px;
    margin-right: 10px; 
}
.custom-outline-button{
    color: #d0b200;
    background-color: transparent;
    height: 45px;
    width: 130px;
    border-style: solid;
    border-radius: 8px;
    border-color: #d0b200;
    border-width: 1px;

}