@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.h-center {
    text-align: center;
    /*!background-color:azure; > commented to insert image*/
    background-image: url(https://img.freepik.com/free-photo/creative-metaverse-vr-glasses-collage-concept_52683-86007.jpg?t=st=1655734599~exp=1655735199~hmac=c61bca1a099b058c735afb99f4842fd33ace52f6eccf80cb30d71bf02b45b6af&w=900);
    background-size: cover;
    height: 90vh;
    width: 100vw;
    padding: 30px;
}
.main-heading {
    color:  red;
    font-family: "caveat";
    font-size: 45px;
    font-style: oblique;
    font-weight: 1500;
    text-decoration: underline;
    text-transform: capitalize;
     
}
.paragraph {
    color: yellow;
    font-size: 25px;
}
.button {
    border-width: 5px;
    border-color: burlywood;
    border-radius: 5px;
    border-style:  double;
    background-color: azure;

}